# Fingerprint
type fpc_data_file, file_type, data_file_type, core_data_file_type;
type fpce_socket, file_type;
type fpc_sysfs, fs_type, sysfs_type;
type gx_fpd_data_file, file_type, data_file_type, core_data_file_type;

# Rild
type rild_file, file_type, vendor_file_type;

# Rmt
type debugfs_rmt, debugfs_type, fs_type;

# Touchscreen
type proc_touchpanel, fs_type, sysfs_type, proc_type;

#Sysfs Kcal
type sysfs_kcal, fs_type, sysfs_type;

# Power
type perfd_data_file, file_type, data_file_type, core_data_file_type;
type proc_irq, fs_type;
type proc_kernel_sched, fs_type;
type sysfs_power_management, sysfs_type, fs_type;

